<%= form_for(actress) do |f| %>
  <% if actress.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(actress.errors.count, "error") %> prohibited this actress from being saved:</h2>

      <ul>
      <% actress.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :initial %>
    <%= f.text_field :initial %>
  </div>

  <div class="field">
    <%= f.label :bust %>
    <%= f.number_field :bust %>
  </div>

  <div class="field">
    <%= f.label :waist %>
    <%= f.number_field :waist %>
  </div>

  <div class="field">
    <%= f.label :hip %>
    <%= f.number_field :hip %>
  </div>

  <div class="field">
    <%= f.label :height %>
    <%= f.number_field :height %>
  </div>

  <div class="field">
    <%= f.label :birth %>
    <%= f.date_select :birth %>
  </div>

  <div class="field">
    <%= f.label :blood_type %>
    <%= f.text_field :blood_type %>
  </div>

  <div class="field">
    <%= f.label :ruby %>
    <%= f.text_field :ruby %>
  </div>

  <div class="field">
    <%= f.label :birth_place %>
    <%= f.text_field :birth_place %>
  </div>

  <div class="field">
    <%= f.label :image_lg %>
    <%= f.text_field :image_lg %>
  </div>

  <div class="field">
    <%= f.label :image_sm %>
    <%= f.text_field :image_sm %>
  </div>

  <div class="field">
    <%= f.label :sex %>
    <%= f.number_field :sex %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
