<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @actress.name %>
</p>

<p>
  <strong>Initial:</strong>
  <%= @actress.initial %>
</p>

<p>
  <strong>Bust:</strong>
  <%= @actress.bust %>
</p>

<p>
  <strong>Waist:</strong>
  <%= @actress.waist %>
</p>

<p>
  <strong>Hip:</strong>
  <%= @actress.hip %>
</p>

<p>
  <strong>Height:</strong>
  <%= @actress.height %>
</p>

<p>
  <strong>Birth:</strong>
  <%= @actress.birth %>
</p>

<p>
  <strong>Blood type:</strong>
  <%= @actress.blood_type %>
</p>

<p>
  <strong>Ruby:</strong>
  <%= @actress.ruby %>
</p>

<p>
  <strong>Birth place:</strong>
  <%= @actress.birth_place %>
</p>

<p>
  <strong>Image lg:</strong>
  <%= @actress.image_lg %>
</p>

<p>
  <strong>Image sm:</strong>
  <%= @actress.image_sm %>
</p>

<p>
  <strong>Sex:</strong>
  <%= @actress.sex %>
</p>

<%= link_to 'Edit', edit_actress_path(@actress) %> |
<%= link_to 'Back', actresses_path %>
