<p id="notice"><%= notice %></p>

<h1>Posts</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Actress</th>
      <th>Thumbnail url</th>
      <th>Review score</th>
      <th>Service url</th>
      <th>Service</th>
      <th>Ad url</th>
      <th>Series</th>
      <th>Director</th>
      <th>Label</th>
      <th>Maker</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.title %></td>
        <td><%= post.description %></td>
        <td><%= post.actress_id %></td>
        <td><%= post.thumbnail_url %></td>
        <td><%= post.review_score %></td>
        <td><%= post.service_url %></td>
        <td><%= post.service_id %></td>
        <td><%= post.ad_url %></td>
        <td><%= post.series_id %></td>
        <td><%= post.director_id %></td>
        <td><%= post.label_id %></td>
        <td><%= post.maker_id %></td>
        <td><%= link_to 'Show', post %></td>
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Post', new_post_path %>
