<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @post.description %>
</p>

<p>
  <strong>Actress:</strong>
  <%= @post.actress_id %>
</p>

<p>
  <strong>Thumbnail url:</strong>
  <%= @post.thumbnail_url %>
</p>

<p>
  <strong>Review score:</strong>
  <%= @post.review_score %>
</p>

<p>
  <strong>Service url:</strong>
  <%= @post.service_url %>
</p>

<p>
  <strong>Service:</strong>
  <%= @post.service_id %>
</p>

<p>
  <strong>Ad url:</strong>
  <%= @post.ad_url %>
</p>

<p>
  <strong>Series:</strong>
  <%= @post.series_id %>
</p>

<p>
  <strong>Director:</strong>
  <%= @post.director_id %>
</p>

<p>
  <strong>Label:</strong>
  <%= @post.label_id %>
</p>

<p>
  <strong>Maker:</strong>
  <%= @post.maker_id %>
</p>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
